{{ $ := .root }}
{{ $page := .page }}

{{ define "bibtitle" }}
  <h5><b><span class="title"></span></b></h5>
{{ end }}

<div class="bibtex_structure">
  <div class="sections bibtextypekey">
    <div class="section @article" title="Journal Articles"></div>
    <div class="section @book" title="Books"></div>
    <div class="section @inproceedings" title="Conference and Workshop Papers"></div>
    <div class="section @misc|@phdthesis|@mastersthesis|@bachelorsthesis|@techreport" title="Other Publications"></div>
    <div class="sort year" extra="DESC date">
      <div class="templates"></div>
    </div>
  </div>
</div>

<div class="bibtex_template">
  <ul> 
    <li>
      <div>
        <div class="if title !nolink">
          <a class="url">{{ template "bibtitle" . }}</a>
        </div>
        <div class="if title nolink">
          {{ template "bibtitle" . }}
        </div>
        <div class="if author">
          <span class="author"></span>
        </div>
        <div>
          <span class="if journal"><em><span class="journal"></span></em>,</span>
          <span class="if booktitle">In <em><span class="booktitle"></span></em>,</span>
          <span class="if editor"><span class="editor"></span> (editors),</span>
          <span class="if publisher"><em><span class="publisher"></span></em>,</span>
          <span class="if !journal number">Technical report <span class="number"></span>,</span>
          <span class="if institution"><span class="institution"></span>,</span>
          <span class="if address"><span class="address"></span>,</span>
          <span class="if volume"><span class="volume"></span>,</span>
          <span class="if journal number">(<span class="number"></span>),</span>
          <span class="if pages"> pages <span class="pages"></span>,</span>
          <span class="if month"><span class="month"></span>,</span>
          <span class="if year"><span class="year"></span>.</span>
          <span class="if note"><span class="note"></span>.</span>
          <div style="display:none"><span class="bibtextype"></span></div>
          <div style="display:none"><span class="if topic"><span class="topic"></span></span></div>
        </div>
    </li></ul>
      </div>

