{{ $ := .root }}
{{ $page := .page }}

{{ $img_path := $page.Params.img | default "http://placehold.it/750x300" }} 
{{ $img := partial "funcs/getRelPath.html" (dict "page" $page "path" $img_path) }}

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="{{ $img }}" alt="">
      </div>
      <div class="col-lg-6">
        <h2 class="card-title">{{ $page.Title }}</h2>
        <p class="card-text">{{ $page.Summary }}</p>
        <a href="{{ $page.Permalink }}" class="btn btn-primary">Read More &rarr;</a>
      </div>
    </div>
  </div>
</div>

