{{ $ := .root }}
{{ $page := .page }}

{{ if $page.Params.width }}
  {{ $page.Scratch.Set "width" (printf "col-%s" $page.Params.width) }}
{{ else }}
  {{ $page.Scratch.Set "width" "col" }}
{{ end }}
{{ $width := $page.Scratch.Get "width" }}

<div class="card h-100">
  <h4 class="card-header">{{ with $page.Params.facls }}<i class="{{ . }}"></i>{{ end }} {{ $page.Title }}</h4>
  <div class="card-body">
    <p class="card-text">
      {{- $page.Content -}}
    </p>
  </div>
  {{ with $page.Params.more_url }}
    <div class="card-footer">
      <a href="{{ . }}" class="btn btn-primary">Learn More</a>
    </div>
  {{ end }}
</div>
