{{ $ := .root }}
{{ $page := .page }}

{{ $carousel := $page.Params.carousel }}
{{ $cid := printf "%s-carousel" $page.File.TranslationBaseName }}
{{ if and ($carousel) (gt (len $carousel) 0) }}
  <div id="{{ $cid }}" class="carousel slide" data-ride="carousel">
    <!-- Carousel Indicators -->
    <ol class="carousel-indicators">
      {{ range $idx, $ele := $carousel }}
        {{ if eq $idx 0 }}
          <li data-target="#{{ $cid }}" data-slide-to="{{ $idx }}" class="active"></li>
        {{ else }}
          <li data-target="#{{ $cid }}" data-slide-to="{{ $idx }}"></li>
        {{ end }}
      {{ end }}
    </ol>

    <!-- Carousel Slides -->
    <div class="carousel-inner" role="listbox">
      {{ range $idx, $ele := $carousel }}
        {{ if eq $idx 0 }}
          {{ $page.Scratch.Set "active" "active" }}
        {{ else }}
          {{ $page.Scratch.Set "active" "" }}
        {{ end }}
        {{ $active := $page.Scratch.Get "active" }}
        <div class="carousel-item {{ $active }} h-100"
            style="background-image: url('{{ $ele.img | default "http://placehold.it/750x450" | relURL }}')">
          <div class="carousel-caption d-block">
            {{ with $ele.title }}<h3>{{ . }}</h3>{{ end }}
            {{ with $ele.description }}<p>{{ . }}</p>{{ end }}
          </div>
        </div>
      {{ end }}
    </div>
    <a class="carousel-control-prev" href="#{{ $cid }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ $cid }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{{ end }}

{{ define "carousel-item" }}
{{ end }}
