{{ $ := .root }}
{{ $page := .page }}

{{ $i := $page.Params.img | default .root.Site.Data.theme_defaults.profile }}
{{ $img := partial "funcs/getRelPath.html" (dict "path" $i "page" $page) }}

<div class="col-md-6 h-100">
  <div class="m-3 rounded border">
    <div class="row">
      <div class="col-4 m-3 text-center align-middle">
        <img class="img-fluid d-block m-auto w-100" 
             alt="..." 
             src="{{ $img }}"/>
      </div>
      <div class="col p-3 text-center align-middle w-100">
        <h4>
          <a href="{{ $page.Permalink }}"
             style="color: inherit;">
            {{ $page.Title }}
          </a>
        </h4>
        {{ with $page.Params.position }}
          <h6><small class="text-muted">{{.}}</small></h6>
        {{ end }}
        {{ with $page.Params.email }}
          <p>
            <a style="color:inherit;"
               href="mailto:{{.}}"><i class="fas fa-envelope fa-fw fa-lg"></i> {{ . }}</a>
          </p>
        {{ end }}
        {{ template "inline-list" $page }}
        {{/*
        {{ with $page.Params.interests }}
          <tt>[{{ delimit . ", " }}]</tt>
        {{ end }}
        */}}
      </div>
    </div>
  </div>
</div>

{{ define "inline-list" }}
  {{ $p := . }}
  {{ with .Params.links }}
    <ul class="list-inline">
      {{ with .github }}
        {{ $link := printf "https://github.com/%s" . }}
        {{ $params := dict "url" $link "fa" "fab fa-github" }}
        {{ template "social" $params }}
      {{ end }}
      {{ with .linkedin }}
        {{ $link := printf "https://www.linkedin.com/in/%s" . }}
        {{ $params := dict "url" $link "fa" "fab fa-linkedin" }}
        {{ template "social" $params }}
      {{ end }}
      {{ with .cv }}
        {{ $link := partial "funcs/getRelPath.html" (dict "path" . "page" $p) }}
        {{ $params := dict "url" $link "fa" "fas fa-file" }}
        {{ template "social" $params }}
      {{ end }}
    </ul>
  {{ end }}

{{ end }}

{{ define "social" }}
  <li class="list-inline-item">
    <a target="_blank" href="{{ .url }}"><i class="{{ .fa }} fa-fw fa-lg"></i></a>
  </li>
{{ end }}
