{{ $ := .root }}
{{ $page := .page }}

{{ $img := $page.Params.img | default .root.Site.Data.theme_defaults.profile }}

<div class="col-md-3 col-sm-6 h-100 w-100">
  <div class="m-3 p-3 text-center align-middle h-100 w-100 border rounded">
    <img class="rounded-circle" 
         style="max-width: 70%; max-height: auto;" 
         alt="..."
         src="{{- partial "funcs/getRelPath.html" (dict "path" $img "page" $page) -}}"/>
    <div class="w-100">
      <h4 class="mt-3">
        <a href="{{ $page.Permalink }}"
           style="color: inherit;">
          {{ $page.Title }}
        </a>
      </h4>
      {{ with $page.Params.position }}
        <h6><small class="text-muted">{{.}}</small></h6>
      {{ end }}
      {{ with $page.Params.email }}
        <p><i class="fas fa-envelope fa-fw fa-lg"></i> {{ . }}</p>
      {{ end }}
      {{ with $page.Params.links }}
        <ul class="list-inline mt-3">
          {{ with .github }}
            {{ $link := printf "https://github.com/%s" . }}
            {{ $params := dict "url" $link "fa" "fab fa-github" }}
            {{ template "social" $params }}
          {{ end }}
          {{ with .linkedin }}
            {{ $link := printf "https://www.linkedin.com/in/%s" . }}
            {{ $params := dict "url" $link "fa" "fab fa-linkedin" }}
            {{ template "social" $params }}
          {{ end }}
          {{ with .cv }}
            {{ $link := . | relURL }}
            {{ $params := dict "url" $link "fa" "fas fa-file" }}
            {{ template "social" $params }}
          {{ end }}
        </ul>
      {{ end }}
      {{/*
      {{ with $page.Params.interests }}
        <p><tt>[{{ delimit . ", " }}]</tt></p>
      {{ end }}
      */}}
    </div>
  </div>
</div>

{{ define "social" }}
  <li class="list-inline-item">
    <a style="color: inherit" target="_blank" href="{{ .url }}"><i class="{{ .fa }} fa-fw fa-lg"></i></a>
  </li>
{{ end }}
