{{ $ := .root }}
{{ $page := .page }}


<div class="row">
  {{ with $page.Params.img_left }}
    <div class="col">
      <img class="img-fluid rounded mb-4" src="{{ . }}" alt="">
    </div>
  {{ end }}

  <div class="col">
    <h2>{{ $page.Title }}</h2>
    {{ $page.Content }}
  </div>

  {{ with $page.Params.img_right }}
    <div class="col">
      <img class="img-fluid rounded mb-4" src="{{ . }}" alt="">
    </div>
  {{ end }}
</div>
