<div class="bibtex_template">
  <ul> 
    <li>
      <a class="url">"<b><span class="title"></span>"</b>,</a>
      <div class="if author">
        <span class="author"></span>
      </div>
      <div>
        <span class="if journal"><em><span class="journal"></span></em>,</span>
        <span class="if booktitle">In <em><span class="booktitle"></span></em>,</span>
        <span class="if editor"><span class="editor"></span> (editors),</span>
        <span class="if publisher"><em><span class="publisher"></span></em>,</span>
        <span class="if !journal number">Technical report <span class="number"></span>,</span>
        <span class="if institution"><span class="institution"></span>,</span>
        <span class="if address"><span class="address"></span>,</span>
        <span class="if volume"><span class="volume"></span>,</span>
        <span class="if journal number">(<span class="number"></span>),</span>
        <span class="if pages"> pages <span class="pages"></span>,</span>
        <span class="if !date month"><span class="month"></span></span>
        <span class="if !date year"><span class="year"></span>.</span>
        <span class="if date"><span class="date"></span>.</span>
        <span class="if note"><span class="note"></span>.</span>
      </div>
      <div>
        <button class="btn btn-secondary bibtexVar" 
                type="button" 
                data-toggle="collapse" 
                data-target="#bib+BIBTEXKEY+" 
                aria-expanded="false" 
                aria-controls="bib+BIBTEXKEY+"
                extra="BIBTEXKEY">
          BibTeX
        </button>
      </div>
      <div class="bibtexVar collapse" id="bib+BIBTEXKEY+" extra="BIBTEXKEY">
        <div class="card card-body">
          <pre style="white-space: pre-wrap;"><span class="bibtexraw noread"></span></pre>
        </div>
      </div>
      <div style="display:none"><span class="bibtextype"></span></div>
      <div style="display:none"><span class="if topic"><span class="topic"></span></span></div>
    </li></ul>
</div>

