<div class="bibtex_structure">
  <div class="group year" extra="DESC number">
    <div style="padding-bottom:10px;"></div>
    <div class="sort date" extra="DESC date">
      <div class="templates"></div>
    </div>
  </div>
</div>

