body {
  padding-top: 54px;
  min-height: 100vh;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
    min-height: 100vh;
  }
}

.carousel-item {
  min-height: 50vh;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

