<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{ block "title" . }}
      {{ .Title }} | {{ .Site.Title }}
      {{ end }}
    </title>

    {{ partial "header.html" . }}
  </head>
  <body>
    {{ partial "navbar.html" . }}


    <main class="container">
      <div class="container">
        {{ block "main" . }}{{ end }}
      </div>
    </main>

    {{ partial "footer.html" . }}
    {{ partial "addscripts.html" . }}
  </body>
</html>

