{{ define "main" }}
  <h1 class="my-4 border-bottom">{{ .Title }}</h1>
  <div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      {{ .Content }}
    </div>
    <div class="col-md-4">
      {{ if .Params.authors }}
        <div class="card mb-4">
          <h5 class="card-header">Authors</h5>
          <div class="card-body">
            <ul>
              {{ range .Params.authors }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
      {{ if .Params.maintainers }}
        <div class="card mb-4">
          <h5 class="card-header">Maintainers</h5>
          <div class="card-body">
            <ul>
              {{ range .Params.maintainers }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
      {{ if .Params.links }}
        <div class="card mb-4">
          <h5 class="card-header">Relevant Links</h5>
          <div class="card-body">
            <ul>
              {{ range .Params.links }}
                <li>
                  <a href="{{.url}}" target="_blank">{{.title}}</a>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}

