{{ define "main" }}

<h1 class="my-4 border-bottom">{{ .Title }}</h1>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      {{ .Content }}
    </div>
    <div class="col-md-3">
      {{ template "img-card" . }}
    </div>
  </div>
</div>
{{ end }}

{{ define "img-card" }}
  {{ $page := . }}
  {{ $i := .Params.img | default .Site.Data.theme_defaults.profile }}
  {{ $img := partial "funcs/getRelPath.html" (dict "page" . "path" $i ) }}
  <div class="card mb-4">
    <img class="card-img-top" src="{{ $img }}" alt="">
    <div class="card-body">
      <div class="text-center">
        {{ with $page.Params.position }}
          <h4>{{.}}</h4>
        {{ end }}
        {{ with $page.Params.email }}
          <p>
            <a style="color:inherit;"
               href="mailto:{{.}}"><i class="fas fa-envelope fa-fw fa-lg"></i> {{ . }}</a>
          </p>
        {{ end }}
        {{ template "inline-list" $page }}
      </div>
      <div class="border-top">
        <b>Interests</b>:
        <ul>
          {{ with $page.Params.interests }}
            {{ range . }}
              <li>{{.}}</li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>

{{ end }}

{{ define "inline-list" }}
  {{ $p := . }}
  {{ with .Params.links }}
    <ul class="list-inline">
      {{ with .github }}
        {{ $link := printf "https://github.com/%s" . }}
        {{ $params := dict "url" $link "fa" "fab fa-github" }}
        {{ template "social" $params }}
      {{ end }}
      {{ with .linkedin }}
        {{ $link := printf "https://www.linkedin.com/in/%s" . }}
        {{ $params := dict "url" $link "fa" "fab fa-linkedin" }}
        {{ template "social" $params }}
      {{ end }}
      {{ with .cv }}
        {{ $link := partial "funcs/getRelPath.html" (dict "path" . "page" $p) }}
        {{ $params := dict "url" $link "fa" "fas fa-file" }}
        {{ template "social" $params }}
      {{ end }}
    </ul>
  {{ end }}

{{ end }}

{{ define "social" }}
  <li class="list-inline-item">
    <a target="_blank" href="{{ .url }}"><i class="{{ .fa }} fa-fw fa-lg"></i></a>
  </li>
{{ end }}
