<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
  $(function () {
    var div_decks = $('#div-deck');
    $.each(div_decks, function(i, deck) {

    });
  })
</script>

{{ if .HasShortcode "bibliography" }}
<script src="{{ "/js/bibtex.js" | relURL }}"></script>
{{ end }}

