

{{ range .Site.Data.resources.css -}}
  <!--{{ .name }} -->
  <link rel="stylesheet" href="{{ .url | absURL }}" integrity="{{ .sri }}" crossorigin="anonymous"/>
{{- end }}

<!-- Academic Lab Stylesheet -->
<link rel="stylesheet" href="{{ "/css/academic-lab.css" | relURL }}"/>

{{ range .Site.Params.custom_css -}}
  <link rel="stylesheet" href="{{ . | absURL }}"/>
{{- end }}

{{ range .Site.Data.resources.js -}}
  <!--{{ .name }} -->
  <script src="{{ .url | absURL }}" integrity="{{ .sri }}" crossorigin="anonymous"></script>
{{- end }}

{{ partial "head_custom.html" . }}

<style>
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 70px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}
</style>

