<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light border-bottom"
     style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" 
       href="{{ "/" | relURL }}"
       style="font-size: 1.75em;">
      {{ if .Site.Params.logo }}
        <img height="30"
             src="{{ printf "%s" .Site.Params.logo | relURL }}"
             alt=""
             class="d-inline-block align-middle"
             style="padding-bottom: 0.35rem">
        {{ if .Site.Params.logoText }}
          {{ .Site.Params.logoText }}
        {{ end }}
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {{ range .Site.Menus.main }}
          {{/* Set target for link. */}}
          {{ $.Scratch.Set "target" "" }}
          {{ if gt (len .URL) 4 }}
            {{ if eq "http" (slicestr .URL 0 4) }}
              {{ $.Scratch.Set "target" " target=\"_blank\" rel=\"noopener\"" }}
            {{ end }}
          {{ end }}
          <li class="nav-item">
            <a class="nav-link" 
               href="{{ .URL }}" {{ ($.Scratch.Get "target") | safeHTMLAttr }}>
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>


