{{ if .IsHome }}
  {{ .Scratch.Set "section" "home" }}
{{ else }}
  {{ .Scratch.Set "section" .Section }}
{{ end }}
{{ $section := .Scratch.Get "section" }}
{{ $page := . }}

{{ with $h := .Params.hero }}
  {{ $hfile := printf "%s.md" $h }}
  {{ $hero := $.Site.GetPage "page" $section $hfile }}
  {{ $widget := $hero.Params.widget }}
  {{ $params := dict "root" $ "page" $hero }}
  <header>
    {{ partial $widget $params }}
  </header>
{{ end }}

{{ range $row := .Params.rows }}
  {{ $blocks := $row.blocks }}
  <div class="row mb-3">
    {{ range $sec := $blocks }}
      {{ $p := printf "%s.md" $sec }}
      {{ $page_sec := $.Site.GetPage "page" $section $p }}
      {{ $widget := printf "widgets/%s.html" $page_sec.Params.widget }}
      {{ $params := dict "root" $ "page" $page_sec }}
      {{ if $page_sec.Params.width }}
        {{ $page.Scratch.Set "width" (printf "col-%s" $page_sec.Params.width) }}
      {{ else }}
        {{ $page.Scratch.Set "width" "col" }}
      {{ end }}
      {{ $width := $page.Scratch.Get "width" }}
      <div class="{{ $width }}">
        {{ partial $widget $params }}
      </div>
    {{ end }}
  </div>
{{ end }}

