
{{ define "main" }}
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">404
    <small>Page Not Found</small>
  </h1>

  <div class="jumbotron">
    <h1 class="display-1">404</h1>
    <p>The page you're looking for could not be found.</p>
  </div>

</div>
{{ end }}
