{{ define "main" }}
  <h1 class="my-4 border-bottom">{{ .Title }}</h1>
  <div class="row">
  {{ range .Data.Pages }}
    {{ $params := dict "root" $ "page" . }}
    {{ partial "widgets/card-alt.html" $params }}
  {{ end }}
  </div>
{{ end }}
