{{ define "main" }}
  <h1 class="my-4 border-bottom">{{ .Title }}</h1>

  {{ if isset .Params "bibfile" }}
    <bibtex src="{{ .Params.bibfile | relURL }}"></bibtex>

    {{ partial "bibtex/entry.html" . }}
    {{ partial "bibtex/structure.html" . }}

    <div class="bibtex_display"></div>
    <script src="{{ "/js/bibtex.js" | relURL }}"></script>
  {{ end }}

{{ end }}

