{{ $bib := or (.Get "bib") $.Page.Params.bib | relURL }}
{{ $author := or (.Get "author") "" }}

<bibtex src="{{ $bib }}"></bibtex>

<div style="">
  <select multiple class="bibtex_search bibtex_author" search="author">
    <option value="">Select Author</option>
  </select>
</div>

{{ partial "bibtex.html" . }}

<div id="bibtex_display"></div>

 <script>
 </script>
